.welcome{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.video-overlays{
    position:absolute;
}

.welcome-logo{
    object-fit: contain;
    height: 50vh;
    width: 100%;
}

.rest_video{
    object-fit: cover;
    height: 92vh;
    width: 100%;
}

.menu-section{
    background-attachment:fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgb(255, 235, 205);
}

.inner-menu-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.shader{
    background-color: rgba(0, 0, 0, .6);
    height: 100%;
    width: 100%;
    color: whitesmoke;
}

.menu-btn{
    border: double;
    border-width: 10px;
    background-color: blanchedalmond;
    border-color: black;
}

.menu-btn:hover{
    background-color: rgb(39, 39, 38);
    color: blanchedalmond;
    border-color: blanchedalmond;
}

.about-us{
    background-color: rgb(144, 104, 45);
    background-color: rgb(255, 235, 205);
    border-width: 20px;
}